<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="comeconv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <comeconv.Properties.Settings>
            <setting name="ExecFile" serializeAs="String">
                <value>ffmpeg.exe</value>
            </setting>
            <setting name="ExecCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="BreakCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSacEmoji" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SacEmojiMode" serializeAs="String">
                <value>space</value>
            </setting>
            <setting name="IsSacPremium" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SacPremiumMode" serializeAs="String">
                <value>henkan</value>
            </setting>
            <setting name="IsSacCommLen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SacCommLen" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="IsSacVpos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SacVpos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsSacGift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSacEmotion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSacNicoAd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SacNGLists" serializeAs="String">
                <value>SacNGLists.txt</value>
            </setting>
            <setting name="SacVideoMode" serializeAs="String">
                <value>mp4</value>
            </setting>
            <setting name="SacVideoList" serializeAs="String">
                <value>mp4	-c copy -y "%OUTFILE%";flv	-c copy -y "%OUTFILE%";mp4(再エンコード)	-c:v copy -c:a aac -bsf:a aac_adtstoasc -y "%OUTFILE%";flv(再エンコード)	-c:v copy -c:a aac -bsf:a aac_adtstoasc -y "%OUTFILE%"</value>
            </setting>
            <setting name="IsLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsTwiEmoji" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TwiEmojiMode" serializeAs="String">
                <value>tspace</value>
            </setting>
            <setting name="IsTwiCommLen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TwiCommLen" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="IsTwiVpos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TwiVpos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsSaveData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DispTab" serializeAs="String">
                <value>saccubus</value>
            </setting>
            <setting name="IsSimpleVote" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSacCruise" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSacInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSacSystem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SacConvApp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SacAppList" serializeAs="String">
                <value>0	さきゅばす(～1.67.7.11);1	さきゅばす(1.67.8.01～);2	commeon、commein;3	NicoConvAss;4	こめたん他ニコ動ソフト</value>
            </setting>
        </comeconv.Properties.Settings>
    </userSettings>
</configuration>