<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="comeconv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <comeconv.Properties.Settings>
            <setting name="ExecFile" serializeAs="String">
                <value>ffmpeg.exe;ffmpeg.exe</value>
            </setting>
            <setting name="ExecCommand" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="BreakCommand" serializeAs="String">
                <value>;</value>
            </setting>
        </comeconv.Properties.Settings>
    </userSettings>
</configuration>